<div class="nested-fields pr-4">
  <table class="table form-registered-image-table">
    <tbody>
      <div class="col-md-6">
        <td><%= f.text_field :name, class: "form-control", placeholder: '例：醤油ラーメン' %></td>
      </div>
      <div class="col-md-6">
        <td><%= f.file_field :image, class: "form-control", id: :review_img, accept: "image/jpg,image/gif,image/jpeg,image/png" %></td>
      </div>
    </tbody>
    <div class="text-right">
      <%= link_to_remove_association f, class: 'btn btn-danger' %>
    </div>
  </table>
</div>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#review_img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#review_img").change(function(){
        readURL(this);
    });
  });
</script>