<% if ramen_store.reviews.count > 0 %>
  <%= render 'ramen_store_reviews/review_contents', reviews: ramen_store.reviews %>
<% else %>
  <div class="mt-4">
    <p>レビューはまだ投稿されていません</p>
  </div>
<% end %>