<% if like = Like.find_by(user_id: current_user&.id, ramen_store_id: ramen_store&.id) %>
  <span class="like-btn">
    <%= link_to ramen_store_like_path(ramen_store, like), method: :delete, id: "unlike-button-#{ramen_store.id}", remote: true do %>
      <span class="pr-1"><i class="fas fa-heart fa-lg like"></i></span>
      <%= ramen_store.likes.count %>
    <% end %>
  </span>
  <% else %>
  <span class="like-btn">
    <%= link_to ramen_store_likes_path(ramen_store), method: :post, id: "like-button-#{ramen_store.id}", remote: true do %>
      <span class="pr-1"><i class="far fa-heart fa-lg like"></i></span>
      <%= ramen_store.likes.count %>
    <% end %>
  </span>
<% end %>
