<header>
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">
    <div class='container'>
      <%= link_to 'Ramen Tour', root_path, class: 'navbar-brand' %>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto main-nav align-items-center">
          <li class='nav-item'>
            <%= link_to  new_user_session_path, class: 'nav-link' do %>
              <i class='fas fa-sign-in-alt fa-fw'></i>
              <span>ログイン</span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>