<table class="table menu-table">
  <tbody>
    <% @ramen_store.menus.each do |menu|%>
      <tr>
        <th><%= menu.name %></th>
        <td><%= menu.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

