<table class="table registered-images-table">
  <tbody>
    <% @ramen_store.registered_images.each do |image| %>
      <tr>
        <th><%= image.name %></th>
        <td><%= image_tag image.image.url(:thumb100) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
