<% content_for(:title, '店舗一覧') %>
<!-- 店舗一覧 -->
<div class='container'>
  <div class="pt-4">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <% if @ramen_stores.present? %>
            <%= render @ramen_stores %>
          <% else %>
            店舗がまだありません
          <% end %>
        </div>
        <%= paginate @ramen_stores %>
      </div>
    </div>
  </div>
</div>
