@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "bootstrap/scss/bootstrap";
// ログイン画面
.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}
// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
  @extend .alert-danger;
}
// FontAwsomeのスタイル
.alert-danger li{
  list-style: none;
}

