/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";

// ログイン画面

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

// FontAwsomeのスタイル

.fa-sign-out-alt{
  color:white;
}

.fa-style{
  font-size: 1.33333em;
  line-height: 1rem;
}

// .nav-ul{
//   margin:0 auto;
// }